.col-md-8
  =form_for @beer do |f|
    %table.table.table-striped
      %tr
        %th= f.label :name 
        %td= f.text_field :name, class: 'form-control'
      %tr
        %th= f.label :description 
        %td= f.text_field :description, class: 'form-control'
      %tr
        %th= f.label :style_id
        %td= f.select :style_id, options_from_collection_for_select(Style.all, 'id', 'name'), class: 'form-control'
      %tr
        %th= f.label :brewery_id 
        %td= f.select :brewery_id, options_from_collection_for_select(Brewery.all, 'id', 'name'), class: 'form-control'
      %tr
        %th= f.label :rating 
        %td
          1
          = f.radio_button :rating, 1
          2
          = f.radio_button :rating, 2
          3
          = f.radio_button :rating, 3
          4
          = f.radio_button :rating, 4
          5
          = f.radio_button :rating, 5
      %tr
        %th= f.label :photo
        %td= f.file_field :photo
    = f.submit 'Send', class: 'btn btn-primary' 
    = link_to 'Back', { action: "index" }, class: 'btn btn-warning'
  %br
  = render partial: 'validation_errors', locals: { zone: @beer }
