.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand.logo_img{href: root_path}
        = image_tag 'logo2.png'
    %ul.menu.nav-justified
      %li 
        = link_to (image_tag 'menu/beers.png', size: '100x100'), beers_main_path
        %br
        = link_to 'beers', beers_main_path
      %li
        = link_to (image_tag 'menu/shops.png', size: '100x100'), shops_path
        %br
        = link_to 'where to buy', shops_path
      %li
        = link_to (image_tag 'menu/about.png', size: '100x100'), about_path
        %br
        = link_to 'about me', about_path
      %li
        = link_to (image_tag 'menu/contact.png', size: '100x100'), contact_path
        %br
        = link_to 'contact', contact_path