.row.content-header
  %h1
    .col-md-2
      = image_tag "menu/beers.png", size: '100x100'
    .col-md-8.text-center#beers
      BEERS
    .col-md-2
      = image_tag "menu/beers.png", size: '100x100'

.beers-slider.text-center
  .slider-nav
    = link_to '1', 'javascript:setSlide(0)', class: 'btn btn-default', id: 'slider-nav-0'
    = link_to '2', 'javascript:setSlide(1)', class: 'btn btn-default', id: 'slider-nav-1'
    = link_to '3', 'javascript:setSlide(2)', class: 'btn btn-default', id: 'slider-nav-2'
  .col-md-2.slider-side-left
    = link_to '<', 'javascript:setSlide("prev")', class: 'btn btn-default'
  .col-md-8
    - @recent_beers.take(3).each_with_index do |beer, index|
      .slider-item{id: "slide#{index}"}= image_tag beer.photo.url(:normal)
  .col-md-2.slider-side-right
    = link_to '>', 'javascript:setSlide("next")', class: 'btn btn-default'

%h2.h2-header History
%p#history Donec congue, tellus in malesuada fermentum, sem dui tristique diam, sit amet posuere eros metus vitae augue. Vivamus metus sem, imperdiet nec lacinia vitae, ornare non erat. Aliquam pharetra, turpis ut ornare pellentesque, lectus odio semper nibh, non tristique massa arcu id ante. Vestibulum nisi libero, tempor nec dolor nec, tempus iaculis lorem. Phasellus mauris sapien, bibendum ut convallis quis, feugiat ac nibh. Donec lacinia eget mauris eu congue. Nulla at enim eget risus molestie efficitur nec et erat. Fusce at iaculis purus. Morbi eget finibus odio. Donec ac sodales lectus, id finibus felis. Proin tempor gravida arcu ut ultrices. Aliquam quis cursus risus. Vivamus nisi augue, congue nec faucibus eu, congue eu orci. Nulla pulvinar, nisi at pellentesque tincidunt, ligula ex pellentesque tortor, a iaculis ante quam at lectus.
.row.text-center.ingredients
  .col-md-3
    = image_tag 'ingredients/water.jpg', size: '180x150'
  .col-md-3
    = image_tag 'ingredients/malts.jpg', size: '180x150'
  .col-md-3
    = image_tag 'ingredients/hops.jpg', size: '180x150'
  .col-md-3
    = image_tag 'ingredients/yeasts.jpg', size: '180x150'
%h2.h2-header#tasted Already tasted
%ul#tasted_list
  - @styles.each_slice(3) do |slice|
    .row
      - slice.each do |style|
        .col-md-4
          %li
            = link_to style.name, beers_main_path(style_id: style.id, anchor: 'tasted')
            %span.badge
              = style.beers.count
    
- @beers.each do |beer|
  .col-md-4#pages
    .thumbnail  
      = beer.photo.present? ? (image_tag beer.photo.url(:normal), class: 'img-thumbnail') : (image_tag 'no_image.gif', size: '330x440', class: 'img-thumbnail')
      .caption
        %h3= beer.name
        %h4
          = link_to beer.style.name, beers_main_path(style_id: beer.style.id)
          from 
          = link_to beer.brewery.name, beers_main_path(brewery_id: beer.brewery.id)
        %p
          -rating_stars(beer.rating).each do |image|
            = image
        %p
          = short_desc(beer.description)
          = link_to 'more', show_beer_path(beer.id, anchor: 'show')
.col-md-12.text-center.apple_pagination= will_paginate @beers, params: { anchor: 'pages'}